#fork-label{
	font-weight: bold;
	margin-bottom: 20px;
}

.fork-button:hover{
	background-color: #e07236;
}

.home-desc{
	margin-left: 20px;
	line-height: 30px;
}

#home-attribution-req{
	font-weight: bold;
}

#link-display{
	font-size: 15px;
	font-weight: bold;
	padding: 15px;
}

#copy-attrib-bttn{
	margin-top: 15px;
}

#attrib-copied-indicator{
	font-weight: bold;
	margin-top: 15px;
	font-size: 17px;
	visibility: hidden;
}