:root{
	--default-text-color: #2b2b2b;
	--default-font-family: 'Varela Round', Serif;
}

#main-container{
	display: flex;
	flex-direction: row;
}


.side-preview{
	margin-top: 2%;
	width: 50%;
	margin-left: 70px;

}



p, div{
	font-size: 15px;
	color: var(--default-text-color);
	font-family: var(--default-font-family);
}



h1{
	font-size: 18px;
	color: var(--default-text-color);
	font-family: var(--default-font-family);
}

h2{
	font-size: 16px;
	color: var(--default-text-color);
	font-family: var(--default-font-family);
}

li{
	font-size: 13px;
	margin: 2px;
	font-family: var(--default-font-family);
	color: var(--default-text-color);
}

button{
	color: white;
	background-color: #3d2952;
	border-style: none;
	font-size: 13px;
	padding: 13px 20px;
	font-family: var(--default-font-family);
	border-radius: 10px;
}

button:hover{
	background-color:  #583C70;
}



body{
	margin-bottom: 100px;
}


a{
	color: #7418ed;
}



.code-container{
	background-color: #f9f9f8;	
	border-color: #efeeef;
	border-width: 2px;
	border-style: solid;
	padding: 10px;
}


.fork-button{
	background-color: #e05c14;
	margin-left: 15px;
	margin-bottom: 15px;
}

pre{
	white-space: pre-line;
	line-height: 25px;
}
