#main-navigation-container{
	width: 30%;
	margin-top: 1%;
	display: flex;
	flex-direction: column;
}

#nav{
	margin-top: 15%;
}


.nav-item{
	font-size: 16px;
	margin-right: 10px;
	float: right;
	color: black;
	text-decoration: none;
}

.nav-item:hover{
	color:#7418ed;
}


.nav-line{
	margin-left: 25%;
	background-color: #e0e0e0;
	border: none;
	height: 1px;
}

#logo-img{
	width: 170px;
	height: 170px;
	margin-left: auto;

}