#main-navigation-container{
	width: 30%;
	margin-top: 2%;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}

#nav{
	margin-top: 25%;
}


.nav-item{
	font-size: 18px;
	margin-right: 10px;
	float: right;
	color: black;
	text-decoration: none;
}

.nav-item:hover{
	color:#7418ed;
}


.nav-line, #main-title-line{
	border: none;
	margin-left: 25%;
	background-color: #e0e0e0;
	height: 1px;
}

#main-title-line{
	background-color: #c4b8d4;
}

#main-title{
	margin-left: auto;
	font-size: 50px;
	font-weight: bold;
}