.sample-project-link, .sample-usage-title{
	margin-left: 20px;
}


.sample-usage-title{
	margin-top: 30px;
}


.sample-project-desc{
	margin-left: 30px;
}


.sample-usage-desc{
	color: #3d2952;
}


#sample-project-desc{
	color: #3d2952;
}

